.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}
  
.header {
    margin-bottom: 20px;
    background-color: #388e3c;
    border: 1px solid black;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

  
.header h1 {
    font-size: 28px;
    margin: 0;
}
  
.image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}
  
.details {
    display: grid;
    grid-template-columns: repeat(3, 0.70fr);
    gap: 20px;
    text-align: left;
}
  
.details div {
    padding: 10px;
    background-color: #388e3c;
    border: 1px solid black;
    border-radius: 10px;
    align-items: center; /* Centrar horizontalmente */
    text-align: center;
}
  
.details h3 {
    font-size: 18px;
    margin: 0;
}
  
.details p {
    font-size: 16px;
    margin: 8px 0;
}

.back-button {
    position: relative;
    bottom: 335px;
    right: 280px;
    padding: 8px 16px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none
}

.back-button:hover {
    background-color: #1f252c;
}


.image-container {
    display: flex;
    align-items: center;
    gap: 20px; /* Espacio entre la imagen y el botón */
    margin-bottom: 20px; /* Espacio debajo del contenedor */
}