.searchbar-container {
    border: none;
    outline: none;
    padding: 10px;
    width: 30%;
    line-height: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar-form {
    display: flex;
    align-items: center; /* Centra los elementos verticalmente */
    flex: 1; /* Permite que el formulario ocupe el espacio disponible */
}

.searchbar-buttons-container {
    display: flex;
    align-items: center; /* Centra los botones verticalmente */
}

.searchbar-button{
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.searchbar-button:hover {
    background-color: #1f252c;
}